services:
  gophish:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${GOPHISH_HOSTNAME:-gophish}
    hostname: ${GOPHISH_HOSTNAME:-gophish}
    ports:
      - "${GOPHISH_ADMIN_PORT:-3333}:3333" # Admin UI Port
      - "${GOPHISH_PHISH_PORT:-8084}:80" # Phishing Server Port
    environment:
      - GOPHISH_INITIAL_ADMIN_PASSWORD=gophish
    volumes:
      - ../../data/gophish:/opt/gophish/database
    networks:
      - ossop-network
    restart: unless-stopped
    working_dir: /opt/gophish
    entrypoint: [ "./gophish" ]
    healthcheck:
      test: [ "CMD-SHELL", "curl -k -f https://localhost:3333 || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
    labels:
      - "kuma.__web={\"name\":\"Uptime Kuma\",\"url\":\"http://localhost:3001\"}"
    env_file:
      - ../../.env

networks:
  ossop-network:
    external: true
