services:
  misp-db:
    image: mariadb:10.11
    container_name: ${MISP_DB_HOSTNAME}
    hostname: ${MISP_DB_HOSTNAME}
    environment:
      - MYSQL_ROOT_PASSWORD=${MISP_DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MISP_DB_NAME}
      - MYSQL_USER=${MISP_DB_USER}
      - MYSQL_PASSWORD=${MISP_DB_PASSWORD}
    command: >
      --innodb-buffer-pool-size=1024M --innodb-change-buffering=none --innodb-io-capacity=1000 --innodb-io-capacity-max=2000 --innodb-log-file-size=600M --innodb-read-io-threads=16 --innodb-stats-persistent=ON --innodb-write-io-threads=4
    volumes:
      - misp_db_data:/var/lib/mysql
    networks:
      - ossop-network
    restart: unless-stopped
    cap_add:
      - SYS_NICE
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "--user=$$MYSQL_USER", "--password=$$MYSQL_PASSWORD" ]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - ../../.env

  misp-redis:
    image: redis:7.2
    container_name: ${MISP_REDIS_HOSTNAME}
    hostname: ${MISP_REDIS_HOSTNAME}
    command: --requirepass '${MISP_REDIS_PASSWORD}'
    volumes:
      - misp_redis_data:/data
    networks:
      - ossop-network
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "-a", "${MISP_REDIS_PASSWORD}", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    env_file:
      - ../../.env

  misp-web:
    image: ghcr.io/misp/misp-docker/misp-core:latest
    container_name: ${MISP_HOSTNAME}
    hostname: ${MISP_HOSTNAME}
    ports:
      - "${MISP_PORT}:80"
    volumes:
      - ../../data/misp-web/logs:/var/www/MISP/app/tmp/logs
      - ../../data/misp-web/files:/var/www/MISP/app/files
      - ../../data/misp-web/attachments:/var/www/MISP/app/attachments
      - ../../data/misp-web/gnupg:/var/www/MISP/.gnupg
    networks:
      - ossop-network
    depends_on:
      misp-db:
        condition: service_healthy
      misp-redis:
        condition: service_healthy
    environment:
      - "BASE_URL=http://${HOSTNAME}:${MISP_PORT}"
      - "DISABLE_SSL_REDIRECT=true"
      - "DISABLE_IPV6=true"
      - "MYSQL_HOST=${MISP_DB_HOSTNAME}"
      - "MYSQL_PORT=3306"
      - "MYSQL_USER=${MISP_DB_USER}"
      - "MYSQL_PASSWORD=${MISP_DB_PASSWORD}"
      - "MYSQL_DATABASE=${MISP_DB_NAME}"
      - "REDIS_HOST=${MISP_REDIS_HOSTNAME}"
      - "REDIS_PORT=6379"
      - "REDIS_PASSWORD=${MISP_REDIS_PASSWORD}"
      - "ADMIN_EMAIL=admin@admin.test"
      - "ADMIN_PASSWORD=admin"
      - "ADMIN_ORG=ORGNAME"
    restart: unless-stopped
    env_file:
      - ../../.env

networks:
  ossop-network:
    external: true

volumes:
  misp_db_data:
    name: ossop_misp_db_data
    external: true
  misp_redis_data:
    name: ossop_misp_redis_data
    external: true
